[2018-01-28 09:32] rwatts3 opened #2 "Error after install"
Fatal error: you must specify '--save', '--no-save' or '--vanilla'

[2018-01-28 09:53] Ikuyadeu commented on #2
@rwatts3 Sorry before version has bugs.
I was impatient.
Please install version ^0.0.4

[2018-01-28 10:07] rwatts3 commented on #2
awesome this has resolved the issue.
do you think adding the Rmarkdown file scheme would work for this extension ?

[2018-01-28 11:09] Ikuyadeu commented on #2
It is need to more time.
And it is related in Ikuyadeu/vscode-R#36

[2018-01-29 00:10] #2 closed

[2018-01-29 17:51] rwatts3 opened #3 "Not working in Windows"
I was able to get everything running just fine on my mac.
However now that I'm at the office. I am not able to get this running on my work computer Windows 7

[2018-01-29 17:52] rwatts3 commented on #3
Initially I saw errors, about languageserver not existing.
So I installed the languageserver, and now this is the only thing that prints out in debugging.
No intellisense though.

[code]

[2018-01-30 18:58] rwatts3 commented on #3
Any thoughts on why it's not providing intellisense in Windows ?

[2018-01-30 19:34] rwatts3 commented on #3
solved the issue was due to not having Rtools installed, which in term caused the installation of callr to fail.
after installing rtools all is well.

[2018-01-30 19:35] rwatts3 commented on #3
actually spoke too soon the issue still seems to exist. even after successful reinstall of the languageserver.

[2018-01-31 19:30] rwatts3 commented on #3
any updates on this ?

[2018-02-01 00:17] Ikuyadeu commented on #3
No, because it is a course of language server.
Thank you for information @rwatts3

[2018-02-01 00:17] #3 closed

[2018-02-01 05:14] randy3k commented on #3
@Ikuyadeu The language server didn't work on Windows between nodejs does not read STDIO non-blocking-ly. https://github.com/REditorSupport/languageserver/commit/13c3db5017e84e7041061e82b3f9b766e6fee6cc has added support for TCP connection support. `vscode-r-lsp` should work by making use of the new TCP connection. I have tested it with the Atom client also, essentially, we need to run `languageser

[2018-02-01 05:23] randy3k commented on #3
@Ikuyadeu thanks for working on it. The basic language server structure is ready. I can finally work on the features now, hovering doc is the next item on my list.

[2018-02-01 09:09] Ikuyadeu commented on #3
@randy3k Thank you for fixing language server!
I will prepare it.

[2018-02-07 16:47] rwatts3 commented on #3
Just wanted to get an update on progress. I see this is now working for atom-ide-r

Wondering if there's anywhere I can step in and help, just not sure where you've already started.

[2018-02-08 00:22] Ikuyadeu commented on #3
@rwatts3 Sorry, I can't fix this issue until Sunday.
If you will help it, I would be glad!

[2018-02-12 20:35] rwatts3 commented on #3
Ok I will see what I can do.
@randy3k any suggestions on how to replicate what you've done in atom-ide-r in vscode-r-lsp ?

[2018-02-17 07:02] Ikuyadeu commented on #3
Fixed. If nothing any problem, here will be close

[2018-02-25 04:13] NMC-DAVE opened #4 "Can not connect to server?"
Hi:
    When I use VS code R extention, I got the fellowing error, so why?

[Info  - 23:03:42] Connection to server got closed. Server will restart.
[Error - 23:03:42] Request textDocument/hover failed.
Error: Connection got disposed.
	at Object.dispose (C:\Users\User\.vscode\extensions\Ikuyadeu.r-lsp-0.0.5\node_modules\vscode-jsonrpc\lib\main.js:825:25)
	at Object.dispose (C:\Users\User\.vscode\e

[2018-02-26 13:11] paulklemm opened #5 "Not working for Rmd files"
`vscode-r-lsp` works well for `.R` files. For `.Rmd` files it doesn't work. Is this intended behavior or a bug? How do I activate it for `.Rmd` files?

[2018-03-01 13:55] randy3k commented on #5
Unfortunately, Rmarkdown is not yet supported.

[2018-03-01 13:56] randy3k commented on #3
Are there any windows users to confirm that it is (not) working on windows machine?

[2018-03-01 14:19] paulklemm commented on #5
Ok. I'm not familiar with `vscode` package development, but wouldn't you just need to add `"onLanguage:rmd"` to the `activationEvents ` array in [https://github.com/REditorSupport/vscode-r-lsp/blob/master/package.json#L29](https://github.com/REditorSupport/vscode-r-lsp/blob/master/package.json#L29)?

[2018-03-01 14:22] randy3k commented on #5
Yes or no. While it is true that the extension `rmd` has to be activated, a more important issue is to support rmarkdown in [languageserver](https://github.com/REditorSupport/languageserver). Otherwise, you will get autocompletion even typing a regular paragraph in rmarkdown.

[2018-03-28 15:26] randy3k opened #7 "vscode with rtichoke"
_From @joshualeond on March 28, 2018 14:5_

Hey,

Thanks for your work here. I'm currently having a problem with vscode when attempting to use `rtichoke` as the R terminal instead of the default `R.exe`. When using `rtichoke` hover-help and code completion both quit working:

![rtichoke-vscode-bug](https://user-images.githubusercontent.com/3802502/38033819-822a7042-3266-11e8-87bf-968692d994b5.gif)

[2018-03-28 15:26] randy3k commented on #7
It is not an issue of the languageserver per se. It is because [vscode-r-lsp](https://github.com/REditorSupport/vscode-r-lsp) has assumed that the [R term](https://github.com/REditorSupport/vscode-r-lsp/blob/master/src/extension.ts#L65) is used for languageserver. In fact, `vscode-r` should provide two settings, one for opening the R console, another for the default R terminal.
cc: @Ikuyadeu

[2018-03-28 15:48] joshualeond commented on #7
Thanks for the update @randy3k. I'm not sure if I follow but in the gif I am changing the path of `r.rterm.windows` from the `R.exe` to the path of `rtichoke.exe`. I then reload vscode and send the code to the terminal which works fine but the hover-help and code completion both don't work in the editor window. I appreciate the help.

[2018-03-28 16:58] randy3k commented on #7
Setting `r.rterm.windows` to `rtichoke.exe` should not work now, the two settings should be distinct, namely `r.rterm.windows` and `r.something_else.window`.

`r.rterm.windows` is always the path to `R.exe`
and ``r.something_else.window`` is the path to the R console program, eg, rtichoke.

[2018-03-30 01:15] joshualeond commented on #7
I just wanted to follow up on this. I just installed this setup on an Ubuntu machine and have the same results. So I guess `vscode-r-lsp` has the same assumption for any OS.

[2018-03-30 01:17] randy3k commented on #7
You are correct!

[2018-04-24 20:14] randy3k commented on #5
@Ikuyadeu
langauageserver now supports R Markdown (v0.2.1). I've just submitted it to CRAN.
The only work you need is to [enable the language server](https://github.com/REditorSupport/vscode-r-lsp/blob/master/package.json#L29) also for the syntax R Markdown.

[2018-04-25 00:28] Ikuyadeu commented on #5
@randy3k
Thank you for support!
I'll prepare in this weekend.

[2018-04-25 03:06] randy3k commented on #7
Lets move the discussion to https://github.com/Ikuyadeu/vscode-R/issues/65.

I have proposed a possible solution there.

[2018-04-25 03:06] #7 closed

[2018-06-03 15:49] dsteg opened #8 "error: argument must be a character vector of length 1charToRaw(URL)"
"argument must be a character vector of length 1charToRaw(URL)"
<img width="435" alt="lsperror" src="https://user-images.githubusercontent.com/9674007/40888360-339e604e-6724-11e8-9d2e-f496fcd2e755.png">

[2018-06-16 15:43] randy3k opened #9 "Change publisher"
@Ikuyadeu

I believe that [this](https://github.com/REditorSupport/vscode-r-lsp/blob/master/package.json#L7) is your personal publisher. As this package is housed under an organization, we may want to change it to another publisher, say "REditorSupport". However, vscode market place does not have an easier way to transfer packages between publishers. We may need to deprecate the package `Ikuyadeu.

[2018-06-16 15:50] randy3k commented on #9
Do you want to create the new publisher or do you want me to create it?

[2018-06-16 16:06] randy3k commented on #8
It is because rootUri is empty.

[2018-06-16 17:02] #8 closed

[2018-06-17 06:05] Ikuyadeu commented on #9
OK, if you can please create new publisher.
However, this extension has many downloads, I want to just move publisher without republishing.

For example
https://marketplace.visualstudio.com/items?itemName=ms-python.python
is changed from one developer to Microsoft.

If you can want, I am asking Microsoft.

[2018-06-17 06:07] randy3k commented on #9
We could wait, of course. :)

[2018-06-17 22:53] randy3k commented on #9
@Ikuyadeu

When you create the new publisher, please make sure you also add me as a member. My VSTS id is also randy3k.

[2018-06-17 22:53] randy3k commented on #9
@Ikuyadeu

When you create the new publisher, please make sure you also add me as an owner. My VSTS id is also randy3k.

[2018-06-17 23:45] Ikuyadeu commented on #9
OK, I created, and I will add you today

[2018-06-18 07:16] Ikuyadeu commented on #9
@randy3k Could you tell me your e-mail address as extension publisher?

[2018-06-18 07:31] Ikuyadeu commented on #9
OK, I added.
And, moving is completed.

[2018-06-18 07:34] randy3k commented on #9
Thank you.

[2018-06-18 07:34] #9 closed

[2018-06-21 02:11] Ikuyadeu opened #10 "Error on formatting empty source file"
By @renkun-ken

- VSCode Version: 1.24.1
- VSCode-R Version: 0.6.0
- OS Version: macOS 10.13.5

Steps to Reproduce:

1. Create an empty R script and save to a folder
1. Format document

Then the output shows that an error occurs:

[code]

[2018-09-14 09:18] Tutuchan opened #11 "PRs open ?"
Hello,

Thanks a lot for this + the `languageserver` package, it helps a lot when using VSCode for R development. I am not sure if you are accepting PRs here or for `languageserver` at the moment but I have been tinkering with both in the past few days.

I have a PR ready to add a debug mode option in VSCode for the server if you are interested. I also started working out how to implement the Goto

[2018-10-15 12:23] BastiHz opened #12 "Does not seem to work for packages."
Thank you for making this extension. It works well for base-r. However, it does not provide autocompletion for downloaded packages. Is there a way to add this functionality? Or is it already there and I am doing something wrong?
Example:
Typing `mean(` and pressing tab suggests the arguments `x` and `...`.
But loading tidyr and typing `gather(` followed by pressing tab does nothing.

Additional in

[2018-10-16 18:03] BastiHz commented on #12
Ok, solved it. I didn't know that `library()` has to be run and the script has to be saved before it works. I was expecting it to autocomplete like in RStudio. This issue can be closed.

[2018-10-16 18:03] #12 closed

[2018-12-05 10:19] bramvbilsen opened #13 "Request textDocument/formatting failed (All files)"
When saving a file, I always get the following error:
[code]
It happens with all my files, this error for example was produced by the following test script:
[code]

Although the error does not prevent me from actually saving, it is annoying that VS Code always switches to the Ouput tab (showing the error) whenever I save.

[2019-02-22 09:57] Hong-Revo commented on #3
It's not working for me, on a Win10 Ent 1809 machine. I get the following errors in the output window:

[code]

[2019-02-22 10:18] randy3k commented on #3
Could you confirm that languageserver is installed and what version you have?

[2019-02-22 10:26] Hong-Revo commented on #3
Languageserver is version 0.2.5, installed from CRAN.

Is there anything in particular that I should be doing to activate it?

[2019-02-22 13:12] randy3k commented on #3
It should just work after it is installed. I really don't see why it works on mac but not windows. AFAIK, it works with Atom on Windows.

[2019-02-22 13:23] Hong-Revo commented on #3
Is there any other debugging info that I could send over? Perhaps it requires some other extension, or maybe a firewall port opened?

My full specs:

Win10 Enterprise 1809, build 17763.316
VSCode 1.31.1 (Electron 3.1.2/Chrome 66.0.3359.181/Node 10.2/V8 6.6.346.32)
R LSP client 0.0.8
languageserver 0.2.5
Microsoft R Open 3.5.1

[2019-02-22 13:30] Hong-Revo commented on #3
I do have the [R Tools](https://github.com/MikhailArkhipov/vscode-r) extension by @mikhailarkhipov installed, as opposed to @Ikuyadeu's R extension. But it was breaking with that one as well.

[2019-02-22 13:44] randy3k commented on #3
Let me check this afternoon when I am free.

[2019-02-22 14:56] Hong-Revo commented on #3
I changed the r.rpath.lsp setting to use 8.3 names `C:/PROGRA~1/MIE74D~1/ROPEN~1/R-35~1.1/R.exe` and that made the error go away.

But I'm still not seeing any indication that the LSP is working. How do I get features like hover text, completion, etc?

[2019-02-22 16:15] randy3k commented on #3
They should work out of the box...

[2019-02-22 18:21] randy3k commented on #3
It works for me.
<img width="597" alt="screen shot 2019-02-22 at 1 14 09 pm" src="https://user-images.githubusercontent.com/1690993/53262127-d2759080-36a3-11e9-9b01-22d0d3310bf5.png">

The path for me is `C:\Program Files\R\R-3.5.2\bin\x64\R.exe`.

Could you try running the following in vscode terminal?

[code]

[2019-02-23 02:35] Hong-Revo commented on #3
Running from the command prompt works (or at least, doesn't throw an error):

[code]
The library paths are

[code]

I found that if I provide an invalid path for r.rpath.lsp, that results in no output of any kind, ie no error messages or functionality. If the path is valid, then I see an error (but still no functionality).

Also, I reinstalled languageserver 0.2.5 from the source tar.gz, after see

[2019-02-23 02:42] randy3k commented on #3
The compiled binary should make no differences for 3.5.1 or 3.5.2. I saw that you are using Microsoft R Open instread of CRAN R. Not sure if it is the reason, I have never tested it on R Open.

[2019-02-23 02:49] randy3k commented on #3
Could you also try?
[code]
You should expect an error saying connection closed.

[2019-02-23 02:56] Hong-Revo commented on #3
Hmm, is this what you were expecting?

[code]

[2019-02-23 03:06] randy3k commented on #3
Exactly, it means `languageserver` is working. Really have no idea why you got `Connection to server is erroring`. I'll need to add a debug option in the vscode extension.

[2019-02-23 04:28] Hong-Revo commented on #3
I actually got it working, for like a minute. I uninstalled VSCode, deleted the user extension and config directories, and then reinstalled. With the LSP and R IDE extensions, and CRAN R 3.5.2, I managed to get a hover help pane up. But then I tried tweaking my install, and it broke again. This time even reinstalling from scratch didn't help.

[2019-02-23 06:16] randy3k commented on #3
@Hong-Revo
I have pushed a PR https://github.com/REditorSupport/vscode-r-lsp/pull/14

This version should have better messages upon error and there is an option to show debug messages. Note that the binary setting is now `R.LSP.Path` for consistency.

[2019-02-23 06:52] Hong-Revo commented on #3
Ah, that's much better. With your debug build, I saw that it was looking for version 3.2.1 of the processx package but I had 3.1 installed. Updating the package made it work.

I had another question on linting (I want to disable it), but this one seems to be fixed now. Thanks so much for your help!

[2019-02-23 06:55] randy3k commented on #3
linting should be on in default. I'll a switch in the update.

[2019-02-23 06:56] Hong-Revo opened #15 "How to modify/disable linting?"
Is it possible to change or switch off the linter? It looks like it's preset for the tidyverse style, which I don't use in my own code, so I'm getting lots of unwanted warnings.

![image](https://user-images.githubusercontent.com/11328890/53283037-35deeb80-3794-11e9-83ba-84d647177f5f.png)

[2019-02-23 06:57] randy3k commented on #3
Though, I am not sure why you don't have the newest processx.

[2019-02-23 07:00] Hong-Revo commented on #3
I think that was because I installed languageserver in MRO, which has the default repo set to a snapshot of CRAN from Aug 2018. At that date, the latest processx was 3.1.

[2019-02-23 07:05] randy3k commented on #3
I'm glad that you have finally figured it out.

[2019-02-23 07:49] Hong-Revo commented on #3
Btw, I did get the following output as well. It doesn't seem to be causing problems, but perhaps languageserver could be modified not to look in a VSCode-internal directory for package structure.

[code]

[2019-02-23 07:50] randy3k commented on #15
You could create a `.lintr` under home directory/ project directory to disable certain linters; check this: https://github.com/jimhester/lintr#project-configuration

[2019-02-23 07:52] randy3k commented on #15
I have just pushed a few commits to `languageserver`. If you installed the development version of `languageserver` and this PR https://github.com/REditorSupport/vscode-r-lsp/pull/14. There will be an option to disable diagnostics.

[2019-02-23 07:53] randy3k commented on #3
I also noticed that and it has been fixed in the current master of `languageserver`.

[2019-02-23 08:27] Hong-Revo commented on #15
Thanks. For some reason it seems to be ignoring the .lintr file in my home directory (c:/users/hongooi/documents), only a file in the project folder works. Not sure if this is due to the lintr package or languageserver.

[2019-02-23 08:35] randy3k commented on #15
You will need a current version of lintr.

[2019-02-23 08:43] Hong-Revo commented on #15
Yeah, it seems to be a lintr problem. I ran `lint_package()` manually on a package directory, and it only picked up a .lintr file that was in the directory itself.

[2019-02-23 08:44] Hong-Revo commented on #15
It's 1.0.3, which is the version on CRAN.

[2019-02-23 09:25] Hong-Revo commented on #15
@randy3k How do I install the updated extension into VSCode? Sorry, but I know nothing about how the extension system works.

[2019-02-23 10:31] randy3k commented on #15
Perhaps, you have missed the “home” directory. How about just `c:/users/hobgooi/`.

You will need to install `npm ` and `git` first. Perhaps it will be just easier for me to share a vsix file. I will do so once I get back to my computer (on mobile now)

[2019-03-04 12:56] grszkthfr commented on #3
I wasn't able to get it running on windows...

What I did so far:
run (as it wasn't installed): `install.packages("processx", repo="https://cloud.r-project.org")`
and then: `source(...)`

Tried specifying `R.LSP.Path` as well as `r.rpath.lsp` in settings.json.

When I run `languageserver::run()` I do get:

`Error in self$read_line() : stdin connection close

No traceback available
list()
exiting `

[2019-03-04 13:15] randy3k commented on #3
How did you specify the path to R?

[2019-03-04 14:26] grszkthfr commented on #3
`"r.rterm.windows": "C:\\Program Files\\R\\R-3.5.1\\bin\\i386\\R.exe",` as well as specified in PATH

[2019-03-07 22:24] Hong-Revo commented on #15
@randy3k will you be pushing this to the marketplace soon? Would be great to be able to benefit from languageserver!

[2019-03-07 22:29] randy3k commented on #15
No problem. Will do it tonight.

[2019-03-08 00:48] randy3k commented on #15
v0.1.0 is out.

You could disable the entire linter from the settings.

Alternatively, to utilize the user home directory `.lintr` file, you will need to install the dev version of `lintr`.

[2019-03-08 07:31] Hong-Revo commented on #15
I've installed v0.1.0 from the Marketplace, but it doesn't seem to have changed anything. I set `r.lsp.diagnostics` to `false`, but I'm still getting lintr notifications. I even reinstalled the extension and restarted VSCode to make sure I wasn't seeing artifacts.

![image](https://user-images.githubusercontent.com/11328890/54014067-78121f00-41cf-11e9-8555-22a05cc753d2.png)

![image](https://user-

[2019-03-08 08:01] Hong-Revo commented on #15
In fact, there are no references in the source to the diagnostics setting... did something get lost maybe?

[2019-03-08 12:09] randy3k commented on #15
What version of languageserver you have? You will need v0.2.7 which is not available in binary forms yet https://cran.r-project.org/web/packages/languageserver/index.html

You would need to either install it from source or install the dev version from github. Or wait a couple of days until CRAN processes the binaries.

[2019-03-08 12:14] randy3k commented on #15
Did you install lintr from github? I am 100% sure that it is supported because I was the one who made it possible. https://github.com/jimhester/lintr/commit/c392b00ca41cafcd24576f7b40eba4533fd8339a

[2019-03-09 07:16] Hong-Revo commented on #15
Ok, thanks. But just a comment (trying to be constructive here): a bit more documentation would be super-useful. There was no indication in this repo that I needed to update the languageserver package, and nothing in the languageserver repo on what features it supports.

I've updated the languageserver package, and it seems to be working now. If there had been a note in the readme that disabling l

[2019-03-09 07:31] Hong-Revo commented on #15
#16

[2019-03-14 13:59] #15 closed

[2019-03-15 23:51] Nightwingg opened #17 "Is this feature supported?"
I've been using R in Visual Studio Code in windows 10 and at the moment it seems fantastic to me.

However there is a feature that I do not know if it is supported, which is to show the names  column of dataframe:
![stackoverflow](https://user-images.githubusercontent.com/26444521/54467450-e45ac880-4763-11e9-901a-9da970bc5155.png)

it is possible generates the following (like RStudio)?:
![stack3](

[2019-03-16 00:48] randy3k commented on #17
It is not possible because we use lexical analysis statically. There is no way to check what a subject contains.

With that said, we might be able to do something with R6 classes.

[2019-03-16 01:01] Nightwingg commented on #17
Okay, thank you very much for the response.
thanks for the extension :)

[2019-03-26 00:22] brunotvs opened #18 "Error formatting document"
Language server seems not to be working when used both with R default library/user library.

When using shift+alt+f the document content is deleted.

If I use a conda environment r lsp path, shift+alt+f seems to work just fine

[2019-03-26 00:57] randy3k commented on #18
could you confirm that `styler` is probably installed in that version of R? Does formatting selection work? Try also
[code]

[2019-03-26 01:33] brunotvs commented on #18
[code]

worked as intended. Also, when using

[code]
the help-hover doesn't work for functions while works for TRUE/FALSE or NA

[2019-03-26 03:22] randy3k commented on #18
I figured it out. It is due to a bug in [languageserver](https://github.com/REditorSupport/languageserver).
It has been fixed at the master branch of languageserver. You could install it via
[code]
or wait for the next release which will be published soon.

[2019-03-26 13:06] brunotvs commented on #18
Awesome! Thanks for the support

[2019-03-27 00:31] brunotvs commented on #18
languageserver updated. Code formatting seems to be working fine but still no help-hover

[2019-03-27 01:44] randy3k commented on #18
It is due to another bug in recent refactoring. The current master should fix it.

Thanks for the report.

[2019-04-20 03:54] vnijs opened #19 "Connect to (running) Jupyter Kernel?"
Is it possible to connect to a running R-kernel in jupyter? See also https://github.com/Ikuyadeu/vscode-R/issues/107

[2019-04-20 04:04] randy3k commented on #19
This is not in the scope of `vscode-r-lsp`. This package only runs the language server.

[2019-04-20 04:04] #19 closed

[2019-04-22 10:47] verajosemanuel commented on #4
same here

[2019-07-12 11:14] nathaneastwood commented on #15
Sorry to drag up an old issue, but it would seem that there are still problems with the `lintr`. I have a repository that I am working in which has a "global" `.lintr` file as well as package level `.lintr` files, i.e.

[code]

I am using

[code]

With `"r.lsp.diagnostics": true`, I get many `lintr` problems highlighted that should be covered by either the package `.lintr` file or the global `.lin

[2019-07-12 12:01] Hong-Revo commented on #15
@nathaneastwood you have to install lintr from Github if you want it to recognise your global `.lintr`. For some reason, the version on CRAN won't work, although the change that implemented this was made over a year ago.

[2019-07-12 12:19] nathaneastwood commented on #15
Thanks @Hong-Revo that has fixed some issues. I still have some problems, however. For example `camelCase` is detected as a problem even thought my `.lintr` file says it shouldn't be:

[code]

[2019-08-10 01:21] sshantt opened #20 "Lintr Settings"
I can't find Lintr settings anywhere. I would like to set Lintr max line width to 160. Thanks

[2019-08-10 01:23] sshantt commented on #20
Duplicate of #15

[2019-08-10 01:23] #20 closed

[2019-09-10 13:02] renkun-ken opened #21 "LSP client crash for non-ascii characters"
When I'm typing non-ascii characters (e.g. Chinese) in the editor, the LSP crashes instantly with the following log:

[code]

[2019-09-26 06:49] kongdd opened #22 "definition not found"
If multiple Rproj exist in a vscode proj, e.g.:
[code]
`Go to definition` can't found function in other Rproj.

[2019-09-26 07:05] randy3k commented on #22
I think in default, [VSCode](https://github.com/microsoft/vscode-languageserver-node/blob/9edf211ab020c6bef23d7095014f3fe33c3af732/client/src/client.ts#L2955) only uses the first folder in the sidebar. We will need to enable workspace support in [languageserver](https://github.com/REditorSupport/languageserver).

[2019-09-26 07:12] kongdd commented on #22
Thanks.
Assume that function `fun` is in ECOF, script in Rcmip5 need to call `fun`. But bug exists in `fun`.
If I can jump to the definition of `fun`, debug will be much easier.

[2019-09-26 07:14] randy3k commented on #22
This kind of use is out of the scope of `vscode-r-lsp`.

[2019-09-26 07:16] #22 closed

[2019-10-25 16:45] paulklemm opened #23 "Run containerized R"
I work with R on a remote compute cluster. Everything runs inside a Singularity image (think Docker but suited for HPC environments).

It would be cool to be able to define something like this for the R shell:

[code]

I guess the code that would need to change to make this work is here: https://github.com/REditorSupport/vscode-r-lsp/blob/5c0e9468de24c720bec0bb315c4f542e1ae679ce/src/extension.ts#L

[2019-10-25 16:48] randy3k commented on #23
I think you just need a wrapper bash script.

[2019-10-25 16:53] paulklemm commented on #23
You mean "r.lsp.path" points to a bash script that calls `singularity exec random/path/mytidyverse.simg R` as in

`"r.lsp.path": "run_singularity_r.sh"`?

[2019-10-25 16:54] randy3k commented on #23
Yes.

[2019-10-25 16:54] paulklemm commented on #23
Will check it right away.

[2019-10-25 16:59] paulklemm commented on #23
I get

[code]

with

[code]

defined in `"r.lsp.path": "run_singularity_r.sh"`

Anything I'm missing?

[2019-10-25 17:05] randy3k commented on #23
I don't know how singularity works. For docker, you may also need to forward all ports of the container to your host.

[2019-10-25 17:09] paulklemm commented on #23
Thanks so far. I will dig into it and post my results here. Do you have any resources that might help?

[2019-10-25 17:11] paulklemm commented on #23
It appears that there is no network isolation in Singularity. https://stackoverflow.com/a/49536442

[2019-10-25 17:12] randy3k commented on #23
That's good news for you! It would be tricky for docker users.

[2019-10-25 17:20] paulklemm commented on #23
Actually I misspoke, I have autocomplete for no functions at all at the moment. Not sure where to start debugging though, since there is literally no output stating any error.

[2019-10-25 17:22] randy3k commented on #23
Turn on the debug option in the preferences and restart vscode.

[2019-10-25 17:57] randy3k commented on #23
I have no idea. Did you `chmod +x <your script>`?

I also have difficulty to connect to docker. It is because we are trying to use TCP connection with random port and it is tricky to forward a random port on demand.

[code]

My `dockerR`

[code]

[2019-10-25 17:59] randy3k commented on #23
I guess a solution is to allow STDIO connection instead of tcp connection. However, it is known that STDIO connection was bugged on Windows.

[2019-10-25 18:50] randy3k commented on #23
I have just pushed a few commit to support stdio connection.

[2019-10-25 18:55] randy3k commented on #23
just release v0.1.2. Upgrade it and turn on the stdio connection setting to see if it works.

[2019-10-28 07:08] paulklemm commented on #23
Sorry I cannot test at the moment, our compute cluster has been out for three days now. I will test the release as soon as possible!

[2019-10-28 07:10] paulklemm commented on #5
@Ikuyadeu Do you have an update on this issue? As far as I can tell, the RMarkdown support is still not available.

[2019-10-28 09:23] paulklemm commented on #23
With v0.1.2 it still doesn't work. I also see no debug output with `"r.lsp.debug": true`. It does run the `run_singularity_r.sh` script though, because when I specify a wrong path, it will complain that it can't find R.

I'm on a Ubuntu 18 machine by the way.

[2019-10-28 13:40] randy3k commented on #23
You might be looking at a wrong place? You need to choose the output channel "R Language Server".

[2019-10-28 13:46] randy3k commented on #5
You are right. The server is not activated on opening a R markdown.

[2019-10-28 13:52] paulklemm commented on #23
🤦‍♂️I wasn't aware that there are multiple output channels. Sorry for that one. Everything is fine. Thank you so much for your fast response! I now use a whole stack of your tools as my main R environment - languageserver via vscode and radian as main R shell. Great work!

[2019-10-28 14:02] randy3k commented on #23
Great

[2019-10-28 14:02] #23 closed

[2019-10-28 19:55] randy3k commented on #5
56eef9a and v0.1.3 should fix it.

[2019-10-28 19:55] #5 closed

[2019-11-24 06:59] HP199731 opened #24 "Error on providing message"
Request textDocument/completion failed.
  Message: {"message":"invalid multibyte string 1","call":{}}

  Code: -32603

Request textDocument/hover failed.
  Message: {"message":"invalid multibyte string 1","call":{}}

  Code: -32603

[2019-11-24 14:20] randy3k commented on #24
Please make sure that your file is in UTF-8.

[2019-11-25 02:02] HP199731 commented on #24
Thank you very much for your reply. I am very sure I have made my file in UTF-8, but it also doesn`t work.
![图片](https://user-images.githubusercontent.com/25856502/69506695-b7a1b680-0f6a-11ea-8c06-21d87f94258d.png)

[2019-11-25 03:12] randy3k commented on #24
Could you share the file that you are working with?

[2019-11-25 03:19] HP199731 commented on #24
Of course, thank you very much.
[code]

[2019-12-17 10:46] nlneas1 commented on #24
I'm also seeing this issue a lot. I have `languageserver` (and its dependencies) installed in a different location due to having a strict production environment. I attempt to load it in my `.Rprofile`.

[code]

It seems to work intermittently. Files which I open sometimes work, sometimes they don't. I cannot pinpoint any logic behind it or any pattern.

[2019-12-17 11:33] nlneas1 commented on #24
I am also sometimes seeing this error:

[code]

[2019-12-17 20:07] randy3k commented on #24
@nlneas1 mind telling us your version of `languageserver`? Was it a CRAN release of the `master` branch on github?

[2019-12-18 09:35] nlneas1 commented on #24
Sure, I'm running `0.3.2.9999` which I installed from GitHub.

[2019-12-18 11:31] AndyLuckert opened #25 "How to use this extension for debugging R in Visual Studio?"
Dear community,

**my main question is: How can I debug R-code in Visual Studio, and can this extension "R LSP Client" help me?**

When visiting the [webpage](https://marketplace.visualstudio.com/items?itemName=REditorSupport.r-lsp) of this package, it states in the main feature list:

Based on that, I inserted the following line into my settings.json - script:
`"r.lsp.debug": true`
Nevertheless,

[2019-12-18 17:16] randy3k commented on #25
Sorry about the confusion. That settings is to enable the debug trace for the language server and it’s not for general debug purpose for R language. There is an issue tracking for the debug adapter protocol https://github.com/REditorSupport/languageserver/issues/40

[2019-12-18 17:46] AndyLuckert commented on #25
Alright, thanks for clarifying!

[2019-12-19 11:42] nathaneastwood commented on #24
Ok, I seem to have this working again now and it was a problem of the location of my installation folder in the `.libPaths()`.

### Old settings

`.Rprofile`:

[code]

Resulting `.libPaths()`:

[code]

### New settings:

`.Rprofile`:

[code]

Resulting `.libPaths()`:

[code]

I'm not really sure why the location of the library within `.libPaths()` should make any difference though?

[2019-12-19 18:24] randy3k commented on #24
Would you try the current master branch? It has a lot of bug fixes and improvements.

[2020-01-03 13:14] kuprinaga opened #26 "No --slave option in Radian"
I would like to use this plugin with [Radian](https://github.com/randy3k/radian). According to this [blog-post](https://renkun.me/2019/12/26/writing-r-in-vscode-interacting-with-an-r-session/) it should work but it seems like a recent change added the `--slave` option to the call to R, which Radian does not support.

If the command line args passed to R were configurable (e.g. a toggle for slave,

[2020-01-03 13:38] randy3k commented on #26
I think you might need to configure different R used in vscode-r-lsp and vscode-R. I am not familiar to vscode-R to comment though.

[2020-01-06 09:58] nathaneastwood commented on #24
Unless the current master branch is not released onto the visual studio code marketplace, I believe I am using the master branches of each of the components?

[2020-01-06 16:19] randy3k commented on #24
I meant the master branch of `languageserver`

[2020-01-07 08:30] nathaneastwood commented on #24
So I was already using the master branch (version 0.3.2.9999). I upgraded this morning to 0.3.3 from GitHub and things seem to be working a little better, however it still crashes for any `Untitled-#.R` files.

[2020-01-07 08:45] nathaneastwood commented on #24
FYI, one thing I have found which helps if you work in a production environment is to have two separate `.Rprofile` files. You should have one at the "global" level, i.e. the level at which VSCode starts up. This will contain the location of your `languageserver` installation. The second `.Rprofile` will be included in your project/work folder which will be loaded when you start R. This second `.R

[2020-01-07 08:52] nathaneastwood commented on #24
In fact, it would appear that even this is not perfect. Files which are not _installed_ appear to crash `languageserver`. So saving the `Untitled-#.R` file within your package will not stop the crashing from occurring.

[2020-02-02 22:13] renkun-ken commented on #10
Closing as has been fixed.

[2020-02-02 22:13] #10 closed

[2020-02-02 22:13] renkun-ken commented on #18
Closing as has been fixed.

[2020-02-02 22:13] #18 closed

[2020-02-02 22:14] renkun-ken commented on #13
Closing as has been fixed.

[2020-02-02 22:14] #13 closed

[2020-02-11 09:07] Hong-Revo commented on #26
I use VSCode with Radian, and it works great. There are separate config settings for vscode-R and vscode-r-lsp though. The former is where you want to enable Radian, not the latter.

![image](https://user-images.githubusercontent.com/11328890/74223140-25f44a80-4d0a-11ea-8eba-f6a1518951a5.png)

[2020-02-11 10:22] renkun-ken opened #27 "Not activated on R Markdown"
As I commented at https://github.com/Ikuyadeu/vscode-R/pull/228#issuecomment-584561751, the vscode-r-lsp is not activated on R markdown language.

The language id in this package is `rmarkdown` while in vscode-R it is `rmd`.

With https://github.com/Ikuyadeu/vscode-R/pull/224 merged, vscode-R is activated on both `r` and `rmd` languages. vscode-r-lsp should be activated on both too.

Should we rep

[2020-02-11 11:25] andycraig commented on #27
I’m not sure where `rmarkdown` comes from either. I think `onLanguage:rmarkdown` should be replaced with `onLanguage:rmd`.

[2020-02-11 13:35] #27 closed

[2020-02-11 13:36] randy3k commented on #27
I guess I copied it from the atom syntax.

[2020-02-11 18:51] randy3k commented on #27
v0.1.5 is out.

[2020-02-13 17:29] Hong-Revo opened #29 "Linting unsaved files uses global settings rather than project settings"
It looks like when lintr is run on an unsaved file, it uses any global `.lintr` settings rather than project-specific ones.

I've recorded a video to show what's happening. I have a large R file open from the fable repo, which uses different lintr settings to my default.
- At the start, everything is fine; there is a project .lintr which is appropriate for the project.
- I modify the file by press

[2020-02-13 18:49] randy3k commented on #29
That's strange. Did you specify the deprecated option `languageserver.default_linters` in `.Rprofile`? You should remove it and let `lintr` to pick up the config.

[2020-02-13 19:06] Hong-Revo commented on #29
No, nothing about languageserver in .Rprofile. Here it is:

[code]

[2020-03-14 20:42] Hong-Revo opened #30 "Errors when reinstalling R packages on Windows"
This is more of a base R architecture issue, I'm just putting it here because it's a problem with any IDE on Windows.

So, on Windows a dll that is loaded into memory is also locked on disk: you can't change the binary file without unloading the dll first. Best practice is that apps should unload dlls before they try to make modifications to them.

However, R on Windows doesn't follow this practic

[2020-03-14 20:55] randy3k commented on #30
It is also related to https://github.com/REditorSupport/languageserver/issues/226

I imagine we and vscode-R could provide a command to restart the language server and install the provided packages.

[2020-03-14 20:58] randy3k commented on #30
One workaround for you now is to disable vscode-r-lsp extension while installing any packages.

[2020-03-24 15:33] ipstone opened #31 "is there a way to quickly toggle autoformat upon saving in R-LSP?"
Thanks for this great plugin! It automatically formats code upon save (which is nice), but somehow it slows the interface (it gets better after using option stdio instead of TCP).

Is there a way to quickly toggle this behavior on and off? When I am interactively developing a script, I don't necessarily want to reformat every time - but I would really like to reformat it before I commit it to a re

[2020-03-27 18:48] Hong-Revo commented on #29
Looks like this is fixed in the latest version of languageserver. 👍

[2020-03-27 18:48] #29 closed

[2020-04-03 23:24] jonnybaik opened #32 "Cannot load languageserver if VSCode is opened in workspace with packrat"
I receive this error message when trying to open a VS Code workspace within a packrat project directory.

[code]

As far as I can tell, this is because I have `languageserver` installed in my user library and not in my packrat library. Since I use packrat, the `.Rprofile` in my project directory sets the library paths to the packrat libraries. If the VS Code workspace initializes in the project ro

[2020-04-03 23:33] jonnybaik commented on #32
Looking at the source code, it appears my suggested fix will not work since `languageserver` is directly invoked using `R <args> "languageserver::<function>"`.

In that case, maybe create a preference to start R with the `--vanilla` or `--no-init-file` options? Or allow the user to customize startup options?

[2020-04-04 00:41] randy3k commented on #32
Could you just added
[code]
to your `.Rprofile`?

I know it is not ideal, but it could be a workaround for the moment.

[2020-04-04 01:02] randy3k commented on #32
Another workaround (for unix) is to wrap the R binary with `--no-init-file` as what you have suggested.

# R-vanilla
[code]

[2020-04-06 16:09] jonnybaik commented on #32
Hi @randy3k, thanks for the reply. I think those workarounds can work, but I believe those will also disable the packrat startup `.Rprofile` script. I can work around this issue for now.

[2020-04-07 16:16] jonnybaik commented on #32
I can't seem to reproduce this error anymore, even in a packrat enabled workspace. The problem seems to have resolved itself on my machine. I'll close this issue now, and reopen it if I can produce a reproducible example.

[2020-04-07 16:16] #32 closed

[2020-04-09 12:44] adamaltmejd opened #33 "Renv project: "there is no package called ‘languageserver’""
Thanks for a great plugin. When running it in an Renv project it wont load however, if I dont add languageserver to the project, which I would very much like to avoid. Maybe, the lsp should avoid sourcing project .Rprofile?

[2020-04-09 12:44] adamaltmejd opened #34 "Renv project: "there is no package called ‘languageserver’""
Thanks for a great plugin. When running it in an Renv project it wont load however, if I dont add languageserver to the project, which I would very much like to avoid. Maybe, the lsp should avoid sourcing project .Rprofile?

[2020-04-09 17:49] randy3k commented on #34
I thought about it again , it is indeed an issue of vscode-r-lsp. Basically we need to allow more flags such as `--no-init-file `.

I am not very familiar with vscode config. @renkun-ken what is the best way to support project wise flag in vscode?

[2020-04-10 01:43] renkun-ken commented on #34
VSCode supports global settings and workspace settings (at `{workspaceFolder}/.vscode/settings.json`). We could simply make vscode-r-lsp support startup flags like vscode-R and vscode will automatically use project settings if exists to override global settings.

I'm wondering, under normal conditions (e.g. without renv), should the languageserver start with project or global `.Rprofile`?

[2020-04-10 05:18] randy3k commented on #34
I'd prefer respecting the local settings, but it's good to have an option to allow users to pass flags such as `--no-init-file`.

[2020-04-10 05:19] randy3k commented on #34
By the way, there are some workarounds: https://github.com/REditorSupport/vscode-r-lsp/issues/32#issuecomment-608914373

[2020-04-10 06:16] renkun-ken commented on #34
@randy3k Do you prefer an option like string array for user to specify any flags in addition to existing `--quiet` and `--slave` and `-e langaugeserver::run(...)`?

[2020-04-10 07:31] renkun-ken commented on #34
@adamaltmejd #35 adds a `r.lsp.args` option to do this. Please

* Download the artifact at https://github.com/REditorSupport/vscode-r-lsp/actions/runs/75056876
* Install the vsix in vscode
* Specify `r.lsp.args: [ "--no-init-file" ]` in workspace settings
* Reload vscode
* Check if your problem is resolved

[2020-04-10 08:05] randy3k commented on #34
I am afraid that the artifact is only downloadable by members of the organization.

(I am attaching it to this post anyway).

[vscode-r-lsp.vsix.zip](https://github.com/REditorSupport/vscode-r-lsp/files/4460517/vscode-r-lsp.vsix.zip)

[2020-04-10 08:34] renkun-ken commented on #34
@randy3k I tried and it is nice that all signed-in users could download the artifact.

[2020-04-10 09:24] randy3k commented on #34
Good to know that. 👍

[2020-04-10 17:43] adamaltmejd commented on #34
Downloaded and installed but it seems like the problem persists. I get this message:

[code]

Strange thing is that I now tried to open a random other folder as a workspace and opened an R-file there and i get the same error. Even though I can run R in the terminal from that folder and do `library(languageserver)` without any problems. So maybe its not about renv after all?

[2020-04-10 17:44] adamaltmejd commented on #34
No wait! My global Rprofile sets `.libPaths("~/.R/packages")` so without it the vscode package can't find languageserver at all of course. Hmm...

[2020-04-10 19:25] randy3k commented on #34
So it may be easier if you use a wrapper script which adds your user library to

[code]

Or alternatively, set the environmental variable `R_USER_LIBS` in VScode.

[2020-04-10 19:32] randy3k commented on #34
@renkun-ken, we might need to either expose `R_PROFILE_USER` and `R_USER_LIBS` to users or marking a simple checkbox `Ignore Project Profile` and set `R_PROFILE_USER` to `~/.Rprofile`.

[2020-04-10 21:44] adamaltmejd commented on #34
Don't understand how R_LIBS_USER env variable works. My `$HOME/.Renviron` contains

[code]

According to ?Startup running "R --no-init-file" should still load .Renviron, but even though > `Sys.getenv("R_LIBS_USER")` yields `$HOME/.R/packages`, `.libPaths()` gives `/Library/Frameworks/R.framework/Versions/3.6/Resources/library`.

[2020-04-10 22:49] randy3k commented on #34
You need to put it in your shell config, for example, `.bashrc`. However, I am not 100% sure if VSCode would respect shell environment variables when a process is launched. There is a setting `terminal.integrated.inheritEnv` that you might want to play with.

[2020-04-10 23:01] randy3k commented on #34
It seems that you could also specify it in `env`: https://stackoverflow.com/a/58867939

[2020-04-10 23:34] renkun-ken commented on #34
This might introduce the problem that renv is not respected if a user session is started from VSCode terminal. I guess vscode-R will take that env var too.

Looks like it should be done on vscode-r-lsp side to avoid messing up user env since the use case here is that languageserver should only respect global Rprofile while user session should respect project Rprofile.

[2020-04-11 00:03] renkun-ken commented on #34
The following methods should work to support this use case:

1. Add a setting `r.lsp.env` to support customized environment variables to start the language server session so that user could use `R_PROFILE_USER=${env:HOME}/.Rprofile` to solve the problem. However, `$HOME` does not work on Windows and R's home (`$USERPROFILE/Documents`) is different from OS's home (`$USERPROFILE`) on Windows, might

[2020-04-11 00:22] renkun-ken commented on #34
However, the above settings may need variable resolver whose API does not seem to be exposed yet (https://github.com/microsoft/vscode/issues/46471).

[2020-04-11 11:42] adamaltmejd commented on #34
Did finally get it to work. Apparently, R does not expand $HOME in `~/.Renviron`, so i just needed to change the code to `R_LIBS_USER=~/.R/packages` and now it loads the library. So setting "--no-init-file" for "r.lsp.args" now works! Thanks!

[2020-04-11 13:14] renkun-ken commented on #34
@adamaltmejd Glad to know you solved it!

@randy3k Do you think we just keep `r.lsp.args` for now, or do we go further to add more options for env and working directory? I think it makes sense to me to only move ahead when we know more use cases.

[2020-04-11 22:16] randy3k commented on #34
Sure. Thank you for your work!

[2020-04-12 00:42] #34 closed

[2020-04-12 05:38] renkun-ken commented on #26
@Hong-Revo's is right. The role of vscode-R and vscode-r-lsp might be a bit confusing for new users. The [vscode-R wiki](https://github.com/Ikuyadeu/vscode-R/wiki/Getting-Started) makes it clear the role of each component of VSCode R support.

To customize the R terminal vscode-R creates, user should only set up vscode-R settings such as `r.rterm.*`, not vscode-r-lsp settings which is only useful

[2020-04-12 05:42] renkun-ken commented on #24
@nathaneastwood  Does the error still happen with the latest `languageserver`?

In #35, the dual `.Rprofile` problem can be mostly solved too.

[2020-04-12 05:45] randy3k commented on #26
For some historical reasons, we have separated `vscode-r-lsp` into a standalone package. I am also not sure the best way to consolidate the two packages without breaking current users.

[2020-04-12 05:45] renkun-ken commented on #11
PRs are always welcome but this seems out-dated now. Closing.

[2020-04-12 05:45] #11 closed

[2020-04-12 08:22] nathaneastwood commented on #24
I’ll give this a test 🙂 won’t be until Tuesday though as I’m on holiday currently.

[2020-04-13 02:58] renkun-ken commented on #31
Currently, formatting is done by `styler` in sync mode to not mess up user edits (unlike diagnostics done by `lintr` in background process) and can be quite slow for large chunk of code. It could be improved by enabling cache (See https://github.com/REditorSupport/languageserver#using-persistent-cache-for-formatting-by-styler and https://styler.r-lib.org/dev/reference/caching.html).

You may disab

[2020-04-13 03:16] renkun-ken commented on #17
@Nightwingg https://github.com/Ikuyadeu/vscode-R/pull/165 adds session symbol completion to R session watcher in vscode-R.

However, we don't have a plan yet to support object member completion, maybe we could do this in future.

[2020-04-13 03:16] #17 closed

[2020-04-13 03:21] renkun-ken commented on #4
Does this still occur with latest vscode-r-lsp and languageserver?

[2020-04-13 15:04] D3SL opened #36 "linter not recognizing functions inside user defined functions"
I'm on the latest version of Win10 and have a clean and brand new installation of the latest versions of VSCode, R, vscode-r, vscode-r-lsp, the language server package, python 3 64bit, and radian.

At first I thought the language server wasn't running at all but after opening a new script I realised the issue is that for some reason the linter can't "see" the definition of package functions when t

[2020-04-13 15:45] renkun-ken commented on #36
I'm a bit confused.

Do you mean the diagnostics provided by lintr says that `gather()` is not defined?

I could reproduce this with the following code:

[code]

The diagnostics says

[code]

It looks like a lintr issue since simply linting the file will ignore the `library(jsonlite)` call:

[code]

[2020-04-13 18:11] D3SL commented on #36
Yes, that's exactly it, I wasn't sure how to describe that. I did a little more tinkering and prefacing function calls with their package name (```dplyr::gather()```) resolves it. I'm probably completely misunderstanding something but I think that means it's something to do with namespaces or environments.

I didn't have too long to play around with everything but I think it was also erroring on l

[2020-04-14 07:47] nathaneastwood commented on #24
Hey @renkun-ken I can confirm that I am no longer seeing this issue. I did a complete reinstall this morning using @jozefhajnla [languageserversetup](https://github.com/jozefhajnala/languageserversetup) and made sure all of the other components were up to date to including `vscode-r-lsp`.

[2020-04-14 08:04] renkun-ken commented on #24
Glad to hear that everything works well for you. Closing now.

[2020-04-14 08:04] #24 closed

[2020-04-14 08:22] renkun-ken commented on #36
I don't see an easy way to resolve this. You may use `.lintr` with the following content to disable `object_usage_linter`:

[code]

[2020-04-14 09:38] D3SL commented on #36
If this is lintR related should I open an issue on LintR's page as well?

[2020-04-14 10:31] renkun-ken commented on #36
I've already filed an issue there.

[2020-04-18 03:05] jgao91 opened #38 "Not an issue, but could we have breakpoints for R?"
Thank you guys for efforts to make VS Code very nice for R programming. This is not an issue case, I just want to ask, can we make R debugging easier? VS Code has the debug panel and a nice set up to set breakpoints in Python, C++, etc. Could we make that happen to R? Or, do you guys have any other tools recommend? Thank you so much.

[2020-04-18 13:38] renkun-ken commented on #38
Duplicate of #25.

Breakpoints require that we implement an R debug server that is compliant with [Debug Adapter Protocol](https://microsoft.github.io/debug-adapter-protocol/) so that we could take advantage of VSCode debugging capabilities. It's not easy, and we don't have a clear plan or methodology to implement it for R yet.

[2020-04-18 13:38] renkun-ken commented on #38
Closing for now.

[2020-04-18 13:38] #38 closed

[2020-05-19 08:06] D3SL opened #39 "documentation only loaded for packages named in a library() call, not with p_load()"
This might be the languageserver package itself, but I only get on-hover documentation for commands from packages loaded using ```library()``` rather than ```pacman::p_load()```.

[2020-06-03 09:25] renkun-ken commented on #25
For debugging, please take a look at https://github.com/ManuelHentschel/VSCode-R-Debugger.

[2020-06-03 09:25] #25 closed

[2020-06-05 08:12] renkun-ken opened #40 "Install langaugeserver automatically"
When extension is activated, if languageserver is not installed, we could install it automatically. This looks easy to implement:

We could run a script instead of the expression `languageserver::run(...)`. In the script, we check if languageserver is installed. If not, run `install.packages("langaugeserver")` before running the language server.

We could either use command args to pass the values

[2020-06-05 08:23] randy3k commented on #40
Perhaps we need to check if languageserver was installed. If it is not, prompt the user to see if they want to install the library.

[2020-06-05 08:26] randy3k commented on #40
by the way, R 4.0 is retiring the option `--slave`, the new option is called `--no-echo`. Not sure if we want to do anything about it now.

[2020-06-05 08:35] renkun-ken commented on #40
Do you think if prompt the user is necessary? The following script could simply do everything

[code]

but if prompt before installing, we need to either check if the package is installed outside R or separate the check and run somehow. What do you think?

I see none of C#, C++, Python extension asks user if they want to install the language server package/backend.

[2020-06-05 08:39] renkun-ken commented on #40
Or we could say languageserver package is necessary for vscode-r-lsp to work. Do you want to install it?

This looks okay to me.

Do you have a good way to prompt in a simple way?

[2020-06-05 08:42] randy3k commented on #40
I guess the servers for c++ or python are binary so they could be installed instantly. But package installation in R could be very slow.  I think it is quite necessary to prompt users.

[2020-06-05 08:44] randy3k commented on #40
It seems that vsoce-python is using gulp to install debugpy: https://github.com/microsoft/vscode-python/blob/cc93436f8f8bcd5a315c4099872fa25c4fe8edbf/gulpfile.js

[2020-06-05 08:45] renkun-ken commented on #40
Good point. If no dependencies are installed, then it will take quite a while.

[2020-06-05 08:52] renkun-ken commented on #40
From my knowledge, the LSP backend of C#, C++, Python all rely on dotnet assemblies, which could be slow to download sometimes. However, they all provide some progress indicator: C#, C++ prints the download progress in extension logging, and Python uses a status bar item to show the downloading progress.

[2020-06-05 09:09] renkun-ken commented on #40
Another reason for prompt is that it has side effect, i.e. changes user library while C#, C++, Python's backend is only used privately and does not affect anything else.

[2020-06-05 09:11] renkun-ken commented on #36
Closing this for it's not caused by vscode-r-lsp.

[2020-06-05 09:11] #36 closed

[2020-06-05 09:12] renkun-ken commented on #26
Related https://github.com/Ikuyadeu/vscode-R/issues/98.

[2020-06-16 07:52] gitbobo opened #41 "Error Code: -32603 ,cannot use R lsp client"
System:window 10,  vs code 1.46.0. R lsp client 0.16.0,  R 3.5.3

[Error - 3:45:51] Request textDocument/colorPresentation failed.
  Message: Error: key not found
Call: self$workspace$documents$get(uri)
Stack trace:
1: self$workspace$documents$get(uri)
2: dispatch(self, id, params)

  Code: -32603
[Error - 3:45:51] Request textDocument/documentLink failed.
  Message: Error: key not found
Call: sel

[2020-06-16 08:09] renkun-ken commented on #41
Seems duplicate of https://github.com/REditorSupport/languageserver/issues/277.

[2020-06-18 08:36] jnote1 opened #42 "Failed to run diagnostics error"
Hi~

I need some help for using R lsp Client
A few days ago I got the error message when opening r sourcecode

msg : "Failed to run diagnostics: callr subprocess failed: could not start R, exited with non-zero status, has crashed or was killed"

So now 'code diagnostics', 'document color' funtion not working (but other funtions still working)

I tried re-install (R lsp Client, lintr, languageserve

[2020-06-18 09:06] renkun-ken commented on #42
What happens if you manually run `lintr::lint("/c:/Rstudy/sample.r")`?

Looks like you are working under Windows 10 WSL?

[2020-06-18 09:17] jnote1 commented on #42
OS : Win 10 (not wsl)

When I load r code in vscode, I got the err msg any r code file

and i got the msg when  lintr::lint("C:/Rstudy/sample.r")
--------
Error in nchar(content) : invalid multibyte string, element 1
incomplete final line found on 'C:\Rstudy\sample.r'
--------

and other r code, I see this msg lintr::lint("C:/Rstudy/test.r")
----------
incomplete final line found on 'C:\Rstudy\sam

[2020-06-18 09:33] jnote1 commented on #42
when lintr::lint("/c:/Rstudy/sample.r")

--------
cannot open file 'C:\c:\Rstudy\test.r': Invalid argument

[2020-06-18 10:05] renkun-ken commented on #42
From your post

[code]

The path does not look valid on Windows. I thought it was on WSL but apparently it is not either.

I guess there's encoding issue in your `sample.r`. What encoding do you observe when you open this file in VSCode? You could see it in the status bar.

<img width="206" alt="image" src="https://user-images.githubusercontent.com/4662568/85007506-34f27a00-b18e-11ea-9838-922a3741

[2020-06-18 10:19] jnote1 commented on #42
sorry but I'm using UTF-8

and in vscode, all char setting is UTF-8

sample.r 's char is UTF-8 and
I can see all right char in vscode

[2020-06-18 12:01] renkun-ken commented on #42
What do you get if you run

[code]

and

[code]

[2020-06-22 05:27] jnote1 commented on #42
Sorry for my late reply

your mentioned 2 function works well

`normalizePath("C:/Rstudy/sample.r")`
→ `"C:\\Rstudy\\sample.r"`

`readLines("C:/Rstudy/sample.r")`
→ works well

And I found some err log in output tab
please refer to something at you

log file : [https://rb.gy/vbofcc](https://rb.gy/vbofcc)

[2020-06-22 05:44] renkun-ken commented on #42
Looks like I can't download your log file.

![image](https://user-images.githubusercontent.com/4662568/85252422-4d181100-b48e-11ea-9351-93f4143fd8c7.png)

Would you mind drag and drop it directly into the issue text box?

[2020-06-22 06:41] jnote1 commented on #42
I tried it but github don't allow it

`Something went really wrong, and we can't process that file`

Hear is some extracted log msg

[code]

[2020-06-22 06:55] renkun-ken commented on #42
The rootUri and file uri look correct. I don't see anything wrong about them.

Would you like to try the following code and see whether the same error occurs:

[code]

[2020-06-22 07:36] jnote1 commented on #42
[code]

[2020-06-22 08:08] renkun-ken commented on #42
Thanks for testing the code and that's the problem: the R session created by `callr::r_session$new()` exits immediately before we send it a function to run.

Would you like to run

[code]

[2020-06-22 08:27] jnote1 commented on #42
[code]

[2020-06-22 08:37] renkun-ken commented on #42
What about

[code]

[2020-06-22 08:42] jnote1 commented on #42
nothing return..

[code]

[2020-06-22 09:08] renkun-ken commented on #42
It is quite strange that `callr` does not work for you. Maybe you could raise an issue at https://github.com/r-lib/callr/issues with a link back here and I guess they should know much better.

[2020-06-22 09:23] jnote1 commented on #42
very thanks for your help

I'll try it

p.s) 'Writing R in VSCode: A Fresh Start' is very helpful post. thanks a lot

[2020-06-22 09:49] #42 closed

[2020-06-23 05:46] jnote1 commented on #42
I tried uninstall R, R's library, Rtools,  vscode-r, vscode-r-lsp-client
and re-install

now works well ~

[2020-06-23 06:22] renkun-ken commented on #42
Thanks for keep trying. It looks like your previous installation is messed somehow. Glad that it works for you now.

[2020-07-12 02:55] kongdd opened #43 "goto defination not work"
I am using VScode to write R package. Pressing F12 give an error no defination found for all functions.

Taking this package (https://github.com/kongdd/CMIP5tools/blob/master/R/CMIP5Files.R#L185) as example, I just can't jump to the defination of function `filter_duration`.

[2020-07-17 10:55] #43 closed

[2020-07-21 15:19] chadbot opened #44 "LSP doesn't see Renv (project-specific) library."
It seems I'm having the opposite issue from #34. When working in an R project with Renv initialized, the language server uses only the main (global) library. If I want completions, tips, etc for the packages in my project-specific Renv library, I have to install them into my main library as well.

Perhaps there's a setting I'm missing? Happy to provide more info.

Thanks for your help--and for a g

[2020-07-21 15:56] renkun-ken commented on #44
I tried `renv` and it looks like to work with `renv`-enabled project we need to start langaugeserver session from the workspace folder (currently it is root folder) to make the R session source the renv `.Rprofile`. I tried making this change to vscode-r-lsp and it works. In this case, however, user has to install the languageserver package into the workspace too.

Does it sound good to you? @rand

[2020-07-21 16:57] randy3k commented on #44
I guess user could use projectwise environmental variable for `R_PROFILE_USER`?

[2020-07-21 17:03] randy3k commented on #44
It requires to change the search path, but I am not convinced that it is the right approach as it will defect the purpose of using renv.

There are some related discussions here:
https://github.com/REditorSupport/vscode-r-lsp/issues/34

[2020-07-22 02:39] renkun-ken commented on #44
If languageserver is started from the workspace folder, then we might need to handle null workspace (where user does not open a folder) and multi-workspace cases (https://github.com/REditorSupport/languageserver/issues/272). But one language server session could only start from one folder to source the workspace `.Rprofile`.

Do we want to add an `r.lsp.wd` so that languageserver starts from root

[2020-07-22 03:34] randy3k commented on #44
I think we should always start the server from the workspace folder. In case of null workspace, could we use the directory of the file as the root uri? However, I don't know the best way to support workspace.

[2020-07-22 05:05] renkun-ken commented on #44
@randy3k I think it might make more sense to start languageserver from user home for null workspace (which is how vscode-R handles multi-workspace). Suppose user opens a file at `/folder1/R/file1.R` which activates vscode-r-lsp and start a language server at `/folder1/to` and then opens another file `/folder2/R/file2.R` but the languageserver only respects `/folder1/R` as the workspace root. The o

[2020-07-22 05:09] renkun-ken commented on #44
For multi workspace root, could we adopt the approach at https://github.com/Microsoft/vscode-extension-samples/tree/master/lsp-multi-server-sample? This will make language server simple enough and could handle multi-workspace nicely, each with own `.Rprofile`.

[2020-07-22 06:15] randy3k commented on #44
I like the lsp-multi-server-sample approach.

Oh, I was thinking that we could have one server for each file (but it may be too resource-demanding).

[2020-07-22 06:29] renkun-ken commented on #44
One server per file sounds definitely resource-demanding.

[2020-07-23 01:02] #44 closed

[2020-07-23 02:53] renkun-ken commented on #44
@chadbot You may go to https://github.com/REditorSupport/vscode-r-lsp/actions/runs/179222667, download the vsix artifact, and install it in vscode and see if it works for you.

[2020-07-23 15:36] renkun-ken commented on #44
@chadbot. Glad to know that it works for you, and thanks for your comment.

 I actually thought about the cases of untitled document a bit. There are three cases:

* Untitled document. Zero workspace. It makes sense to start from home folder.
* Untitled document. One workspace. It makes sense to start from the workspace folder.
* Untitled document. Two or more workspaces. Any idea?

[2020-07-29 18:29] ipstone opened #48 "vscode-r-lsp stopped working on linux (centOS)"
Hello,

Somehow my working version of vscode-r-lsp stopped working (last night) which coindentcally happened with the newest commit/update.

Stangely, when I enable diagnosis in the extension settings, I don't see any diagnosis in the vscode, I am wondering whether it's the latest commit causing this issue.

There hasn't been any changes to the rlanguageserver on my setup - except before this happ

[2020-07-29 18:32] ipstone commented on #48
It's also happening on my mac (local extension of R LSP Client) - which was working before. But as I just tried, it stopped working, at the same time didn't give any error such as not connecting to the language server processes ...

[2020-07-29 23:31] renkun-ken commented on #48
Thanks for reporting! Is it correct that the previous version (0.1.7) worked for you but the latest version (0.1.8, merging #47 to resolve https://github.com/REditorSupport/languageserver/issues/315) released last night does not?

No. As long as languageserver is installed, everything should be working out of the box.

I tested each version on Ubuntu and macOS and everything works well. Would you

[2020-07-29 23:46] renkun-ken commented on #48
Did you use `"r.lsp.use_stdio": true` in you settings? I observe that starting from 0.1.7 (with multi-workspace support), the stdio mode under Linux and macOS no longer works. The language server could be stuck at a point after startup. If this is the case, please turn off `r.lsp.use_stdio` and see if it works.

[2020-07-30 00:48] renkun-ken opened #49 "stdio mode not working"
Since 0.1.7 with multi-root workspace support, stdio mode no longer works, as noticed at https://github.com/REditorSupport/vscode-r-lsp/issues/48#issuecomment-665986706.

[2020-07-30 04:12] renkun-ken commented on #49
Looks like 2587d33 introduced something that breaks stdio mode.

[2020-07-30 05:03] renkun-ken commented on #48
@ipstone Would you like to try downloading the vsix artifact at https://github.com/REditorSupport/vscode-r-lsp/actions/runs/188100207 and see if it works for you?

[2020-07-30 05:10] #49 closed

[2020-07-30 14:01] Dee-L opened #51 "VS Code outline not working with .R files"
I followed the instructions on [this site](https://renkun.me/2019/12/11/writing-r-in-vscode-a-fresh-start/) in order to start using VS Code with R. Several features work, but a couple do not.

I only get things to show up in the outline if I include 4 asterisks after.

[code]
Also, the code folding works based on indentation, but not based on using asterisks to identify sections/subsections.

Tips

[2020-07-30 14:12] renkun-ken commented on #51
Duplicate of https://github.com/Ikuyadeu/vscode-R/issues/386. Closing.

[2020-07-30 14:12] #51 closed

[2020-07-31 09:45] intiben opened #52 "Autocompletion broken for hidden objects?"
I noticed that the R lsp seems to have issues with hidden R objects i.e. name starting with `.` the tab completion list breaks down and returns nothing. Below is an example:

*This works*
[code]

![Screen Shot 2020-07-31 at 11 37 32](https://user-images.githubusercontent.com/56064362/89022622-99bef980-d322-11ea-95f0-54fbbcec6579.png)

*This breaks down*
[code]

![Screen Shot 2020-07-31 at 11 37 50

[2020-07-31 15:45] ipstone commented on #48
Thanks @renkun-ken - I think the problem is from the r.lsp.use_stdio - after your latest release update fixing this, everything works fine now. Thank you  so much such a quick fix!

[2020-07-31 15:45] #48 closed

[2020-07-31 15:53] renkun-ken commented on #48
Glad to know it works for you 😺

[2020-07-31 15:59] renkun-ken commented on #52
The latest langaugeserver does provide symbols starting with `.`.

<img width="715" alt="image" src="https://user-images.githubusercontent.com/4662568/89053409-b9d5d380-d389-11ea-8a77-6c423ef7d92a.png">

Please install the latest development version via

[code]

[2020-07-31 15:59] #41 closed

[2020-07-31 16:01] renkun-ken commented on #26
radian should be used as an interactive terminal. The language server needs to be started with the original R executable.

[2020-07-31 16:01] #26 closed

[2020-07-31 16:02] renkun-ken commented on #4
Closing as no update for this. Feel free to reopen if the problem still exists with the latest vscode-r-lsp and languageserver.

[2020-07-31 16:02] #4 closed

[2020-07-31 16:24] intiben commented on #52
Thank you for your reply and sorry about that, I should have tried the dev version first !

[2020-07-31 16:24] #52 closed

[2020-08-01 15:38] ipstone commented on #40
Hello, just want to chime in here & a comment regarding 'languageserver' - to me, the speed of installation the R package isn't an issue, as it's mostly one time deal; the real issue is performance.

Of course on  2019 macbook pro, there's no performance issue, but on low powered CPU, it took very long to get values from the languageserver. I am not sure if this is an issue with language server in

[2020-08-01 15:40] #31 closed

[2020-08-03 05:56] renkun-ken opened #53 "Multiple language server/clients created for a single workspace"
If the initial view of a folder has multiple columns of documents open, e.g. a top/bottom, or left/right view, then opening a folder will trigger two consecutive `didOpenTextDocument`. The first `didOpenTextDocument` creates a langauge server/client for the workspace, but the next `didOpenTextDocument` finds the client is in map but is not running yet (still starting) as done by `checkClient(name)

[2020-08-03 06:45] renkun-ken commented on #53
The following log shows that `didOpenTextDocument` is called concurrently.

[code]

[2020-08-03 09:32] #53 closed

[2020-08-08 04:45] chepec opened #55 "Installing vscode-r-lsp on VSCodium?"
I am pretty new to VSCodium and its extension eco-system, so please bear with me.

I read @renkun-ken's blog [Writing R in VSCode](https://renkun.me/2019/12/11/writing-r-in-vscode-a-fresh-start/) and was inspired to try out the setup described. `vscode-R` was easily installed, and I already had the `languageserver` R package, and `radian` was a very nice surprise as well (thanks for that tip!). Bu

[2020-08-15 19:35] FelixBenning commented on #40
Speed of installation matters if people are also using devcontainers, every new build of the docker container means the extension has to be reinstalled.

[2020-08-15 19:40] FelixBenning opened #56 "Am I misunderstanding the settings, or should r.lsp.debug=true allow me to set debug points?"
I can not seem to set debug points. So I had a look at the readmes from both projects and set the r.lsp.debug setting to true. Still am not able to set debug points.

[2020-08-15 22:57] renkun-ken commented on #56
`r.lsp.debug` does not mean allowing user to debug R scripts but shows logging of the language server for debugging purpose.

For R debugger in VSCode, please take a look at https://github.com/ManuelHentschel/VSCode-R-Debugger which works now but is not yet published.

[2020-08-16 15:34] #56 closed

[2020-08-16 15:38] renkun-ken commented on #55
Thanks for reporting! Didn't notice there might be issues for extension to work with VSCodium.

At the moment, we only have [GitHub Actions](https://github.com/REditorSupport/vscode-r-lsp/actions/runs/193107401) to provide vsix builds for each PR and push, but not providing vsix via releases.

We might add some automation to create releases according to our release to marketplace at some point but

[2020-08-16 16:21] FelixBenning commented on #56
The world is a small place: I know that guy :smile: Thanks for the reference.

Does that mean that the LSP does not actually define debugging? That's odd.

[2020-08-17 03:21] renkun-ken commented on #56
languageserver implements [Language Server Protocol](https://microsoft.github.io/language-server-protocol/) and VSCode-R-Debugger implements [Debug Adapter Protocol](https://microsoft.github.io/debug-adapter-protocol/). The two protocols do have some overlaps but are different in many aspects.

[2020-08-24 10:19] medmaca opened #57 "Languageserver only works for built in packages (Windows 10 machine)"
I've managed to get the languageserver to work perfectly for the built in R packages:
![Working](https://user-images.githubusercontent.com/5831385/91033329-192aaa80-e5fb-11ea-95b0-fbdf427bc382.png)

However, for any loaded package I currently get nothing:
![Broken](https://user-images.githubusercontent.com/5831385/91033550-71fa4300-e5fb-11ea-85b4-30bad29a3f20.png)

R Language Server output:
[2020-

[2020-08-24 12:19] renkun-ken commented on #57
Would you like to try the latest development version of languageserver and see if the problem still exists?

Are you using the default user library or using a customized library? Would you like to open VSCode in a blank R document and type

[code]

and post the full log if possible.

[2020-08-24 14:15] medmaca commented on #57
OK, I've found the issue.  I had a very long script in which a single comment wasn't preceded by a hash, if this error is fixed then suddenly everything works.

A simple example of  a script that doesn't work until the error is removed:
[code]
I'm not sure if this is intended behaviour, or if there is a solution that would allow it to work regardless of errors within a script?

[2020-08-24 14:26] renkun-ken commented on #57
You might need to turn on `r.lsp.diagnostics` so that you will see the error in your scripts.

Currently, we use R's native parser to parse the code and analyze, which does not work with documents that contain syntax error.

[2020-08-24 14:34] medmaca commented on #57
Thank you for your help with resolving this,   Greatly appreciated.

[2020-08-24 14:34] #57 closed

[2020-08-25 16:47] D3SL opened #58 "Flood of connection errors and many processes spawned"
Sometime in the last two weeks I started getting the error `Connection to server is erroring. Shutting down server.` in VSCode's output window with varying frequency during coding sessions. Today while during a lag spike I took a look at the task manager and saw about 20 R terminal front-end processes each taking nearly 100mb of ram. When I killed each process I got an error in VSCode like this on

[2020-08-30 22:38] albert-ying opened #60 "How to disable assignment_linter?"
Hi, I would like to just disable assignment_linter, so it doesn't check if I use "=" or "<-". How can I do that? Thank you!

[2020-08-30 22:47] #60 closed

[2020-08-30 23:39] renkun-ken commented on #58
Would you like to try with the latest development version of languageserver and see if the problem still persists?

[2020-09-01 11:37] D3SL commented on #58
the R package or the vscode extension?

[2020-09-01 12:13] renkun-ken commented on #58
https://github.com/REditorSupport/languageserver

[2020-09-03 00:19] D3SL commented on #58
I've got it installed, it may be a bit before I know if it's working or not given there doesn't seem to be any consistent way to provoke the issue.

[2020-09-03 13:55] D3SL commented on #58
Actually that was faster than I thought. I don't get the constant error messages now but whatever is causing an extreme runaway spawning of processes is even worse than before, I've got something like 3 full double-screens worth of these processes and sometimes they wind up taking up almost all free resources.

![image](https://user-images.githubusercontent.com/63225966/92124303-4995f400-ee06-11ea

[2020-09-03 14:15] renkun-ken commented on #58
Looks like it might be caused by the session pool?  @randy3k @qinwf any idea why this could happen?

[2020-09-13 05:54] D3SL commented on #58
In case it's relevant I do often have more than one VSCode window open, often with one of them SSHed into a remote machine, and generally just close my laptop to put it to sleep rather than save and shut down everything. Are there any further logs or dumps I can provide, or any test I can run for you?

[2020-10-19 21:46] brandon-mosqueda opened #61 "Consuming too much RAM"
An R languageserver process is launched each time you open a file and such processes does not end when you close a file provoking RAM get full quickly.

[2020-10-19 22:58] renkun-ken commented on #61
Thanks for reporting!

A new language server process if created for the following cases:

1. Opening an untitled document if there isn't one. All untitled documents share one language server. When all untitled documents are closed, the language server is shut down.
2. Opening a document outside the workspace. Each such document starts a language server as they are regarded as independent code. Whe

[2020-10-20 03:41] brandon-mosqueda commented on #61
Hello, and thanks to you for your great job!

I have a Visual Code Workspace with two folders added to it. One of them has different folders in the root directory that contain R scripts.

When I open a file that is inside of one of this child folders a languageserver process is launched and when I open a file that is at root directory another languageserver process is launched. If I open a file fr

[2020-10-20 04:06] renkun-ken commented on #61
Sorry, just forgot to mention that opening a workspace folder will launch a language server. Closing all documents in a particular workspace folder will not shut down the language server but closing the workspace folder will.

We adopt a multi-server approach to handle multi-root workspace, or otherwise language server only works as if all files are from the same workspace folder, which is not ide

[2020-10-20 14:43] brandon-mosqueda commented on #61
It makes perfect sense that you handle with multi-server approach the multi-root workspae problem, and I do not consider necessary the option you propose because my main problem araises when I open external files and a new languageserver instances is launched because it consumes just over 500MB of RAM when the file that I open is in another R project where I have other R files and around 250MB whe

[2020-10-20 15:30] renkun-ken commented on #61
It's very likely caused by the session pool in languageserver.

You could try adding the following to your `~/.Renviron`:

[code]

and see if it reduces your memory usage.

[2020-10-20 15:34] brandon-mosqueda commented on #61
I'm going to try it. Thank you :D

[2020-10-20 15:34] #61 closed

[2020-11-06 16:04] arnoudplantinga commented on #58
I'm having the same problem, both in Windows and when using SSH to access a Linux server.

[2020-11-08 05:09] renkun-ken commented on #58
@D3SL @arnoudplantinga

Could you share the answers to the following questions?

1. Does it occur when you do not open a folder in VSCode but instead open a single R file?
2. Are you working with multiple workspace folders and open many files from different places outside the workspace folder?
3. Does it still occur if you write `R_LANGSVR_POOL_SIZE=0` in your `~/.Renviron` so that the session poo

[2020-11-08 07:50] D3SL commented on #58
1. Yes
2. Not sure what you mean by this, I just use "open folder" in VSCode. This happens whether or not I open a higher level folder and have multiple projects from various subfolders open at the same time or whether I open only one specific project's folder and subfolders. It also happens whether or not I'm SSHed into a remote machine or working locally only.
3. I just tried that and I still ge

[2020-11-11 10:09] ManuelHentschel opened #62 "Open generated code in readonly editor"
**Current behaviour:**
When using `Go to definition` on a function that is defined in a package, the language server apprently generates a temporary file containing the code of the function, saves it in a temporary folder, and opens the document in a normal editor.

This makes it possible to edit and save the file, which does (should?) not have any effect on the function and might lead to confusio

[2020-11-11 13:34] renkun-ken commented on #62
Thanks!

To do this, it seems that we have to customize the reaction of the definition response of the language client so that the extension creates a read-only text editor instead of a typical text editor from the temp file.

BTW, does read only TextEditor behaves just like a typical TextEditor except it is read-only? I mean the languageserver also works with the read-only text editor right? Hove

[2020-11-11 14:33] ManuelHentschel commented on #62
Those features seem to work nicely, we just need to modify the code in `didOpenTextDocument` to treat the read-only editors similar to untitled editors.

[2020-11-11 14:41] ManuelHentschel commented on #62
I had a quick look at the code of vscode-r-lsp and the languageserver itself, but couldn't figure out where the temp text documents get created and/or passed to vscode, so I guess that part would be way easier for someone familiar with the extension.

I'd be happy to do the vscode-facing part though (managing the read-only editors and adjusting `didOpenTextDocument` to include them)

[2020-11-11 14:46] renkun-ken commented on #62
The code to write definition to tempfile is at https://github.com/REditorSupport/languageserver/blob/master/R/namespace.R#L132. The definitionProvider implemented in languageserver just returns a Location (uri, range).

It looks like it has to be handled on the vscode-r-lsp side by overriding language client reaction to definition response from the language server somehow.

[2020-11-11 15:03] renkun-ken commented on #62
From the virtual document example at <https://github.com/microsoft/vscode-extension-samples/blob/master/virtual-document-sample/src/extension.ts>, it looks like the following has to be done:

1. languageserver has to return a URI with a customized scheme, e.g. `rcode://tmp/abcd/fun.R`.
2. vscode-r-lsp needs to implement and register a `TextDocumentContentProvider` to handle scheme `rcode`.
3. In v

[2020-11-11 15:13] ManuelHentschel commented on #62
That looks about right. I've played around a bit with virtual documents and the implementation seems to be quite straightforward.

This seems to be the tricky part to me, since we would need to "intercept" the protocol message between the language server and VS Code, or alter the code of the languageserver without messing with its functionality for different clients.

I think that's all. I can mak

[2020-11-11 15:20] renkun-ken commented on #62
One thing to notice is that languageserver is not specifically designed for vscode. If it responds with a special scheme like this, then other editors cannot handle it. And languageserver has to know the editor or the language client or vscode-r-lsp's capability of doing this and then decide which scheme to use. I'm not sure what @randy3k is thinking about adding vscode-specific stuff to languages

[2020-11-11 15:26] renkun-ken commented on #62
If there's a way to set a text document or editor to be read-only, then it would be much easier.

Looks like there's no way at the moment? https://github.com/microsoft/vscode/issues/4873

[2020-11-11 15:33] renkun-ken commented on #62
What about using the following to set read-only to the temp file?

[code]

User could still make changes but vscode will prompt if user tries to save the file.

<img width="466" alt="image" src="https://user-images.githubusercontent.com/4662568/98831219-3d698b00-2476-11eb-9ee7-53ecf5670caa.png">

[2020-11-11 16:51] ManuelHentschel commented on #62
I'm a bit surprised, that there seems to be no way to supply a virtual source and its content, similar to [Source Requests](https://microsoft.github.io/debug-adapter-protocol/specification#Requests_Source) in the DAP...

[2020-11-11 16:55] ManuelHentschel commented on #62
I think that would still be confusing, since it would suggest that the opened file is a valid file that is worth "protecting" by setting it to read-only. And it might be confusing/problematic if vscode crashes and leaves the user with a read-only temp file...

[2020-11-11 16:57] ManuelHentschel commented on #62
In [vscode-r-lsp/readonly](https://github.com/ManuelHentschel/vscode-r-lsp/tree/readonly) I've implemented the functionality to show generated code in readonly/virtual editors. Currently I just added the command `r.lsp.openAsReadonly` to open the current file in a virtual editor, but it could also work e.g. by getting the virtual file-content from the languageserver

[2020-11-12 02:08] renkun-ken commented on #62
Handling special scheme will require a number of changes in the uri-handling functions in langugeserver which currently only handles `file:///`. I'm not sure if this functionality is worth it. What about adding a comment line before the function body in the temp file saying that

[code]

[2020-11-12 08:23] ManuelHentschel commented on #62
I think you might be right, changing the languageserver significantly just to have these documents open readonly

[2020-11-12 08:25] ManuelHentschel commented on #62
I guess you're right, changing the languageserver significantly, just to open these documents in readonly mode is probably not worth it. Having the comment at the top would still be nice to have though, and it might allow us to identify and "lock" these files later on, once a proper read-only flag is available in vscode

[2020-11-12 15:36] #62 closed

[2020-11-19 20:38] maxheld83 opened #63 "parameter autocompletion not shown when function snippet is accepted"
When I accept a function snippet after, say `readr::read_` by hitting <kbd>tab</kbd>, the complete function snippets gets inserted, including the parenthesis `readr::read_csv()`, all as expected.
However, the function signature and parameter autocomplete are now gone.
I can get them back with <kbd>Shift</kbd>+<kbd>Cmd</kbd>+<kbd>Space</kbd> and/or <kbd>Cmd</kbd>+<kbd>I</kbd>, but that get's a bit

[2020-11-19 20:39] maxheld83 commented on #63
yikes, silly me, same behavior in JS, so this isn't a vscode-r-lsp issue.

[2020-11-19 20:39] #63 closed

[2020-11-30 10:16] BruceChen2017 opened #65 "Can not jump to source if funtions are sourced from some R file"
For example, there is a function `hello` in file hello.r. In another file, I source the file hello.r,but vsc can not jump to definition of `hello`

[2021-01-02 12:24] andycraig commented on #65
Hi @BruceChen2017, the languageserver package that provides Go To Definition only supports it if the VS Code workspace is an R package. Here is an issue about it at the languageserver repo: https://github.com/REditorSupport/languageserver/issues/253

[2021-01-02 12:27] andycraig opened #66 "Restart Language Server command"
The Python extension provides a command `Python: Restart Language Server`. An equivalent command for R would be nice (mainly for doing languageserver development).

[2021-01-17 11:14] deadfate-sky commented on #55
I have faced the same issue here. I use "code-oss", and my OS is 5.10.2-2-MANJARO. I cannot find the "R LSP Client" in the Marketplace. So I use the .vsix file from [this action page](https://github.com/REditorSupport/vscode-r-lsp/actions/runs/403669850) to make ```R-lsp-client``` run.

Here is my code-oss (open-source vscode) detail:

Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12

[2021-01-22 21:24] phillc73 commented on #55
It seems like there is a reasonably straight forward process for [publishing an extension to openvsx.](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions) I'd be willing to take on an initial publish of the extension to the [Open VSX Registry](https://open-vsx.org/), and try to insure regular updates for each new version bump.

After reading the docs it appears that publishing an extens

[2021-01-23 00:02] randy3k commented on #55
I don't mind someone doing the job and publishing it to openvsx. However, I wish one should be able to also add me as admin for the extension for administrative purposes.

[2021-01-23 09:37] phillc73 commented on #55
@radny3k I'll see what's possible and if I can add you as Admin during the publishing process. Otherwise, there's a process to [claim ownership of the namespace](https://github.com/eclipse/openvsx/wiki/Namespace-Access).

[2021-01-23 11:44] phillc73 commented on #55
This extension is now published in the Open VSX repository:

https://open-vsx.org/extension/REditorSupport/r-lsp

As you can see, the listing says it is published by me, not the verified owner of the namespace.

I have confirmed that installation works correctly in VSCodium v1.52.1

[2021-01-24 23:24] solarchemist commented on #55
Can confirm, installs like a charm on VSCodium v1.52.1. Awesome, thanks @phillc73!

I'll leave this ticket open in case @renkun-ken or @randy3k would like to handle the namespace issue, but as far as my original suggestion is concerned, I consider it resolved.

[2021-01-25 06:03] randy3k commented on #55
Thanks @phillc73. It is very smart that opensvx has the option of claiming the ownership. However I am not going to claim the ownership unless @phillc73 no longer maintains it.

[2021-01-25 10:18] phillc73 commented on #55
Happy to do my best to keep OpenSVX up to date with new versions. Is there a way to add me to a notification when a new build/version is ready?

And @randy3k, if you won't claim ownership on OpnSVX, would you like me to do so and add you as an "owner"? That would at least remove the `unverified` notification at the top of the page.

[2021-01-25 17:18] randy3k commented on #55
@renkun-ken, are you interested in claiming the ownership? I think you are a better person to maintain it.

[2021-01-26 02:28] renkun-ken commented on #55
@randy3k I'm totally okay to claim it. I'm curious about if it is possible to use org REditorSupport to claim it, or it has to be a personal account?

[2021-01-26 14:44] phillc73 commented on #55
@renkun-ken I think the chances are slim, but you could try for REditorSupport.

One response in [an existing OpenSVX issue](https://github.com/EclipseFdn/open-vsx.org/issues/320#issuecomment-762792460) specifically requests a personal account.

[2021-01-26 16:57] renkun-ken commented on #55
I've just clamined the ownership, but the unverified label seems still there. Is there anything I should do?

[2021-01-26 17:20] phillc73 commented on #55
Maybe it took a few minutes to update, but it looks good now.

![image](https://user-images.githubusercontent.com/815126/105879807-e601a280-6002-11eb-8963-dcc352316c3f.png)

I've not claimed an OpenVSX namespace before, but I understand there's a Settings/Namespaces section in your OpenVSX account which allows you to control access.

[2021-01-26 17:22] renkun-ken commented on #55
Yes, it looks good now. And I can control the access via

<img width="789" alt="image" src="https://user-images.githubusercontent.com/4662568/105880221-131f7680-603e-11eb-87ef-c97260ff2642.png">

[2021-02-25 07:46] Whale-fall opened #67 "Package "languageserver" installed but can not load correctly"
I installed two versions of R by using conda, and I set vscode-r path and R-lsp path to one of them,vscode r extension works correctly but R-lsp can not be loaded and throw a massage like this:
`During startup - Warning messages:
1: Setting LC_CTYPE failed, using "C"
2: Setting LC_COLLATE failed, using "C"
3: Setting LC_TIME failed, using "C"
4: Setting LC_MESSAGES failed, using "C"
5: Setting LC_

[2021-02-25 07:56] Whale-fall commented on #67
By the way, LC_ALL can not be set in R interactive, like this:
![image](https://user-images.githubusercontent.com/22662209/109121129-d43a2900-7781-11eb-8e97-09c50e4e7da9.png)
if I open R in terminal directly, it can be set correctly, should i do something another?

[2021-03-02 02:39] chenkn008 opened #68 "Autocomplete not work with $ sign?"
Just installed. All works well except that $ sign doesn't trigure auto-completion.

For example, I have a dataframe X with two column 'a', 'b' and X$ 'tab' doesn't trigure X$a or X$b for completion.

Any idea about how to change?

[2021-03-02 15:02] chenkn008 commented on #68
Just solved this by adding    "r.sessionWatcher": true, into the vscode setting json file.

[2021-03-02 15:02] #68 closed

[2021-03-18 09:18] hongyuanjia opened #69 "High memory usage by language servers"
I saw the multi-server features introduced in #45, which is great for multiple workspaces.

However, now the languageserver together with VSC will eat up ~1GB of memory. Is there any option to fall back to a single server approach? Thanks.

![men](https://user-images.githubusercontent.com/20545387/111601818-b35b7580-880d-11eb-91d9-ae12307f470e.png)

[2021-03-18 10:04] renkun-ken commented on #69
Currently, we don't have an option for that. I'll take a look and see if we could add an option to fallback to single-server.

[2021-03-18 10:07] renkun-ken commented on #69
Are you using multi-root workspace but want to handle all files with a single language server?

[2021-03-18 10:09] hongyuanjia commented on #69
Yes. I normally work on only one workspace at a time. So it would be great to fallback to a single-server.

[2021-03-18 10:13] renkun-ken commented on #69
But if you are using one workspace, then only one server is started. The many processes you see in the monitor is created by session pool in languageserver implemented at https://github.com/REditorSupport/languageserver/pull/265.

You could set `R_LANGSVR_POOL_SIZE=1` in your `~/.Renviron` so that languageserver will only use 1 session to handle requests.

[2021-03-18 10:32] hongyuanjia commented on #69
Thanks for the tip.

I tested on Windows in GVim. Currently, I see 4 sessions with total mem usage ~500MB.

![svr](https://user-images.githubusercontent.com/20545387/111611547-8c09a600-8817-11eb-9936-0815396b2ff2.png)

This is much less than the previous. It would be great to reduce the memory usage if possible, though.

Thanks for the help and feel free to close the issue.

[2021-03-18 10:43] renkun-ken commented on #69
Good to know it works for you.

[2021-03-18 10:43] #69 closed

[2021-03-18 10:58] randy3k commented on #69
One solution to reduce memory usage to share the session across different languageserver instances. Though not sure how difficult it would be.

[2021-03-18 13:57] renkun-ken commented on #69
This makes good sense and I think it is perfectly possible. I'll take a closer look at this when I could.

[2021-04-25 15:39] psychelzh opened #70 "[Feature request] Show linting messages from files opening only"
Currently "lintr" messages is very annoying even when files are closed. What's more, it is absolutely strange that linting messages of files deleted remain there.

[2021-04-30 04:28] renkun-ken opened #71 "Cannot start R process to run languageserver"
https://github.com/Ikuyadeu/vscode-R/issues/627

[2021-04-30 06:56] Whale-fall commented on #71
Hi,renkun.
The progress is stuck and no more information.
![image](https://user-images.githubusercontent.com/22662209/116659511-48808b00-a9c4-11eb-8b6f-f00f66c3b026.png)

[2021-04-30 07:31] renkun-ken commented on #71
This looks normal as it waits for the stdin.

Looks like vscode-r-lsp cannot start the R process for some reason.

[2021-04-30 07:33] Whale-fall commented on #71
Do you need more information to find the problem out?

[2021-04-30 07:44] renkun-ken commented on #71
Does it work if you use `"r.lsp.use_stdio": true` in vscode settings and reload window?

[2021-04-30 08:13] Whale-fall commented on #71
vscode throwed a message like that:
![image](https://user-images.githubusercontent.com/22662209/116667559-eaa57080-a9ce-11eb-8603-587534d8c16c.png)
![image](https://user-images.githubusercontent.com/22662209/116667627-fd1faa00-a9ce-11eb-8ada-6594470b6b48.png)

[2021-04-30 14:45] randy3k commented on #71
It is likely caused by a library linking problem of the R shipped by miniconda. At terminal, it requires `conda activate` in order the binary from conda to work properly. I guess the conda environment is not correctly setup inside VSCode.

[2021-04-30 14:55] randy3k commented on #71
I may understand it wrong, but it seems that it is a global setting. If that's the case, then the conda environment is activated in every terminal tab which may not be desired.

[2021-04-30 14:58] randy3k commented on #71
I believe a proper way to fix it is to use a wrapper script, something like
[code]

[2021-05-05 08:45] Whale-fall commented on #71
could you describe more specifically? How should I use this script? Or where should this code be put in?.bashrc or anything else?

[2021-05-08 00:20] MrJGao opened #72 "code folding is not working well on mac"
Sorry, I couldn't figure this out by myself. The code folding on my mac's vscode is not working once I turn on R LSP Client extention. It's weird b/c it worked before. The only thing I changed is that I now installed R v3.6.3 by Conda. Is this the reason why it's not working?

So, I'd like to fold my code below:

[code]

into
[code]
If I turn R LSP Client extention off, code folding would work as

[2021-05-09 13:28] gowerc opened #73 "Old rlsp processes not being removed"
I'll start by saying this could likely be a user error (in which case would appreciate any advice).  So through the course of development I will often close my R session and launch a new R process. Whilst doing this it appears that a new rlsp process is launched and the old one is not removed / cleaned up. Each process holds onto quite a large amount of memory which is slowly leading to memory exh

[2021-05-09 13:37] renkun-ken commented on #73
Did you open documents from multi-root workspace or editing untitled files, or external files (outside workspace)? In these cases, multiple language servers are created, each has their own session pool to handle requests.

[2021-05-09 13:44] gowerc commented on #73
In this particular instance I had 1 untitled/unsaved file.  No external files and it was a single root workspace. Though I just tried forcible opening and closing the R session and it did not result in more rlsp processes being added so I'm not too sure what the root issue is atm :(

[2021-05-10 04:02] renkun-ken commented on #73
The different ports in your screenshot suggest that they are not from the session pool but independently launched instances. Would you like to install the latest languageserver dev version, enable `r.lsp.debug`, start a fresh workspace with all documents closed, and try to reproduce this problem, and finally put the log here?

[2021-05-10 19:05] gowerc commented on #73
Will do that shortly. When was the "session pool" functionality implemented. I am using currently using version 0.3.9 I think.

[2021-05-10 23:43] renkun-ken commented on #73
Install the latest dev of languageserver package via

[code]

[2021-05-11 06:51] Whale-fall commented on #71
As matter of fact,the setting `"terminal.integrated.shellArgs.linux"`has been deprecated.
![image](https://user-images.githubusercontent.com/22662209/117770473-8bb1e800-b267-11eb-8f53-7d3f66f5715a.png)
so I follow the guide,and set it like this:
![image](https://user-images.githubusercontent.com/22662209/117770821-fb27d780-b267-11eb-8943-e913df472246.png)
And this is my code of sourceR.sh :
![imag

[2021-05-11 07:12] Whale-fall commented on #71
can you give me more suggestions?

[2021-05-13 16:01] MrJGao commented on #72
Does anyone have any thoughts about this issue? Thanks.

[2021-05-13 17:08] renkun-ken commented on #72
For multi-line string, we don't make it foldable at the moment.

[code]

To walk around, you could put it in parentheses like

[code]

For the region

[code]

You might need to remove the second line `#****` since it makes a comment block.

I'll try to improve the folding provider for these cases later.

[2021-05-13 17:20] MrJGao commented on #72
Thank you very much, Kun Ren. Actually, if I turn R LSP off, those foldings work. So, I think VSCode itself supports those format foldings. Is there any way we can turn off R LSP's cold folding or choose which format we want to use by the VSCode way?

[2021-05-13 17:43] renkun-ken commented on #72
VSCode's default folding is a simple one based on matched pairs of quotes, braces, brackets or parentheses. The folding range provider we implement overrides the default one by providing folding ranges to comment blocks, rmarkdown titles and chunks and code sections like in RStudio (e.g. `# title ####`).

You could always disable the provider by putting the following code in your `~/.Rprofile`:

[

[2021-05-13 18:57] MrJGao commented on #72
Gotcha. So, Maybe it worked for me before was because I was using an outdated version of the language server. Anyway,, I'll close this comment. Thank you very much!

[2021-05-13 18:57] #72 closed

[2021-06-23 03:22] renkun-ken opened #75 "Use the new pull model of workspace configuration"
The `SynchronizeOptions.configurationSection` is marked as deprecated:

[code]

[2021-06-27 21:14] fdq09eca opened #76 "LSP does not launch"
I am not sure if i am doing the right thing.

Every time I fire up a terminal in vscode the R Language Server terminal output is

[code]

I have put `install.packages("languageserver")` in the R terminal once.

here is my detail:
[code]

[2021-06-28 16:33] nickeubank opened #77 "Radian "can't find R_HOME""
When I try and run code using `radian`, I keep getting this error (it just flashes up for a moment -- had to screen record to see it -- they terminal closes, and I get a `The terminal process "/Users/Nick/miniconda3/bin/radian" terminated with exit code: 1.` popup:

![image](https://user-images.githubusercontent.com/9683693/123671808-ad156600-d80c-11eb-85ec-016552ac1729.png)

I set my `R_HOME` var

[2021-06-28 22:00] renkun-ken commented on #77
Please raise this issue at <https://github.com/Ikuyadeu/vscode-R/issues>. Sounds like `R: Create R terminal` does not create terminal with the desired the envvar.

[2021-06-28 22:00] #77 closed

[2021-07-07 14:03] assignUser opened #79 "Open Symbol by Name: Symbol duplicated"
I am not sure if this is a vsc-r or lsp Issue, please let me know if I should move this to vsc-r:

When using "open symbol by name" (ctrl+T, or `#` in the command pallet) I can jump to any function within the package I'm working on which is great but for some reason every symbol appears four times? All entries lead to the same line as there is just one symbol, so usability is not impacted in a big

[2021-07-07 14:18] renkun-ken commented on #79
What about the document symbol (using `@`)?

Since when do you start to observe such problem?

[2021-07-07 14:24] assignUser commented on #79
document symbol is fine, no duplication:
![image](https://user-images.githubusercontent.com/16141871/124776295-9f17c180-df3f-11eb-984a-c38088a8c680.png)

I think it was always like this? I am not really sure sorry. For some reason, I just now thought about opening an issue...

[2021-07-07 14:36] renkun-ken commented on #79
Does it happen if you are working with a non-package project (e.g. a folder with only few R scripts)?

Does it happen if you are working with any other package?

[2021-07-07 14:44] assignUser commented on #79
Just tested both and there it works with no problem. So it must be an issue with the other workspace/settings...
i don't have any workspace specific settings:
[code]

Let me know if there is any other information I can provide.

[2021-07-07 14:51] assignUser commented on #79
I found the issue, I think it is due to `srcref` or something as it only happens if the package is also installed in the r library. After removing the package:
![image](https://user-images.githubusercontent.com/16141871/124781121-7396d600-df43-11eb-81d4-c75c87309e14.png)

[2021-07-07 16:01] renkun-ken commented on #79
Do you mean installing the package in your workspace will make the workspace symbols duplicate?

[2021-07-07 16:06] assignUser commented on #79
So... what ever the issue was removing the package and installing it again fixed it?
Thanks for your quick help and continued development of this great package!

[2021-07-07 16:06] #79 closed